header {
    padding: 1.8rem $gutter;
    h1 {font-size: 2rem;}
}

nav {
    ul li a {
        img {display: none;}
        span {display: block;}
    }
}

#edu, #goals, #work{
    img {padding: 0 3rem 0 3rem;}
} 

#contact {    padding-left: 5rem;
    padding-right: 5rem;
}

// create for loop
@for $i from 1 through 12 {
    $w: calc($i / 12) *100%;
    .medium-#{$i} {flex-basis: $w;}
}