$primaryColor: #4a5846;
$secondaryColor: #70846b;
$fontColor: rgb(43, 43, 43);
$backgroundColor: #f4f4ef;

$menuColor: #FFE8D6;

$defaultFont: "Raleway", sans-serif;
$headingFont: "Libre Bodoni", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;